@charset "utf-8";

#recommend_cook{
	text-align: center;
	font-weight: bold;
}
#recommend_cook img{
	width: 100%;
	height: 200px;
	cursor: pointer;
}

#recommend_restaurant{
	text-align: center;
	font-weight: bold;
}
#recommend_restaurant img{
	width: 100%;
	height: 200px;
	cursor: pointer;
}