        .main-picture{
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 600px;
        }
        .picture-screen{
            transition: all 0.3s ease-out;
            position: absolute;
            float: left;
            height: 600px;
        }
        
        #one{
            z-index: 1;
            width: 60%;
        }
        #two{
            z-index: 2;
            left: 25%;
            width: 60%;
        }
        #three{
            z-index: 3;
            left: 50%;
            width: 60%;
        }
        #four{
            z-index: 4;
            left: 75%;
            width: 60%;
        }
        .picture-screen:hover{
            width: 40%;
        }
